/* Custom checkbox */

.control {
  font-family: arial;
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  font-size: 16px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 8px;
  left: 0;
  height: 18px;
  width: 18px;
  background: #FFFFFF;
  border: 1px solid #2196F3;
  border-radius: 2px;
}

.control:hover input~.control__indicator, .control input:focus~.control_indicator {
  background: #FFFFFF;
}

.control input:checked~.control__indicator {
  background: #ffffff;
  border: 1px solid #2196F3;
}

.control__indicator:after {
  box-sizing: unset;
  content: '';
  position: absolute;
  display: none;
}

.control input:checked~.control__indicator:after {
  display: block;
}

.control-checkbox .control__indicator:after {
  left: 7px;
  top: 2px;
  width: 4px;
  height: 9px;
  border: solid #2196F3;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.control-checkbox .control__indicator::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 3.5rem;
  height: 3.5rem;
  margin-left: -1.1rem;
  margin-top: -1.1rem;
  background: #2196F3;
  border-radius: 3rem;
  opacity: 0.6;
  z-index: 99999;
  transform: scale(0);
}

@keyframes s-ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes s-ripple-dup {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.control-checkbox input+.control__indicator::before {
  animation: s-ripple 250ms ease-out;
}

.control-checkbox input:checked+.control__indicator::before {
  animation-name: s-ripple-dup;
}
